.category {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    border-bottom: 1px solid;
    border-left: 1px solid;

    &:last-of-type {
        border-right: 1px solid;
        .category {
            border-right: none;
        }
    }

    & .schedule {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 1;
        font-size: 16px;

        &__item {
        // height: 18px;

        }
    }

    & .schedule:nth-of-type(even) {
        border-top: 1px solid #000000;
    }
}