.category {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    border-bottom: 1px solid;
    border-left: 1px solid;

    &:last-of-type {
        border-right: 1px solid;
    }

    & .schedule {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 1;
        font-size: 12px;
    }

    & .schedule:nth-of-type(even) {
        border-top: 1px solid #000000;
    }
}