.createScheduleContainer {
    display: flex;
    width: 100%;
    flex-direction: row;

    &__titleContainer {
        height: 73px;
        margin-top: 11px;
        margin-left: 23px;
        font-size: 64px;
    }

    .download {
        position: fixed;
        top: 0;
        width: 100%;
        height: 350PX;
        border: solid;
        z-index: 150;
    }
}