.createScheduleContainer {
    display: flex;
    width: 100%;
    flex-direction: row;

    &__titleContainer {
        height: 73px;
        margin-top: 11px;
        margin-left: 23px;
        font-size: 64px;
    }

    .download {
        position: absolute;
        bottom: 20px;
        right: 50%;
        text-align: center;
        width: 150px;
        height: auto;
        padding: 10px 5px;
        border: solid 1px #8f8f8f;
        z-index: 150;
        border-radius: 15px;
        background-color: #b5b5b5;
        color: #FFF;
        transform: translateX(50%);
    }
}