.bodyTitle {
    width: 100%;
    display: inline-flex;
    

    &__title {
        height: 40px;
        display: inline-block;
        color: #fff;
        background-color: #959595;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        padding-top: 14px;
    }
}